* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}

.header-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

a {
  text-decoration: none;
  height: 70px;
}

.logo {
  height: 70px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-list {
  width: 120px;
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
}

.nav-list a {
  color: #fafafa;
}

#mv {
  background-image: url(img-2/mv.png);
  background-position: center;
  background-size: cover;
  height: 650px;
  color: #fafafa;
  text-align: center;
  padding-top: 200px;
}

.mv-title {
  padding: 0;
}

.main-visual-title {
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-body {
  font-size: 20px;
}

#portfolio {
  background-color: #eceff1;
}

.heading {
  margin-bottom: 30px;
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.heading:after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  display: block;
  margin: 8px auto 0;
}

.heading-text {
  text-align: center;
  margin-bottom: 30px;
}

.production-group {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  width: 920px;
}

.production {
  width: 300px;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.production:nth-child(1) {
  background-image: url(img-2/sketch.jpg);
}

.production:nth-child(2) {
  background-image: url(img-2/talk.jpg);
}

.production:nth-child(3) {
  background-image: url(img-2/webcamp-mother.png);
}

.production:nth-child(4) {
  background-image: url(img-2/webcamp.png);
  margin-right: 10px;
}

.production:nth-child(5) {
  background-image: url(img-2/websuku.png);
  margin-right: 10px;
}

.production:nth-child(6) {
  background-image: url(img-2/write.jpg);
}

.production:nth-child(-n + 2) {
  margin: 0 10px 10px 0;
}

.strength-group {
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.strength {
  width: 320px;
  height: auto;
  margin-right: 10px;
  font-size: 60px;
  text-align: center;
}
.strength:nth-child(3) {
  margin-right: 0;
}

.strength-title {
  font-size: 20px;
  margin: 10px auto;
  color: #000000;
}

.strength-text {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

#profile {
  background-color: #eceff1;
  padding: 90px auto;
}

.profile-group {
  display: flex;
  flex-wrap: wrap;
}

.left-content {
  width: 50%;
}

.my-icon {
  background-image: url(img-2/my-icon.jpg);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.right-content {
  width: 50%;
}

.description-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.description-title:nth-child(3) {
  margin-top: 20px;
}

.description-text {
  font-size: 16px;
}

.contact-group {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.left-contact-content {
  margin: 0 auto;
  width: 130px;
}

.right-contact-content {
  margin: 0 auto;
  width: 180px;
}

.right-contact-content .fa {
  font-size: 50px;
  margin-right: 20px;
}

.right-contact-content .fa:last-child {
  margin-right: 0;
}

footer {
  background-color: #ec715f;
  font-size: 16px;
  color: #fafafa;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  .container {
    width: 90%;
  }

  .menu-box {
    width: 40px;
    height: 40px;
    border: 1px solid #fafafa;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  nav {
    display: none;
  }
}
